.Gallery {
  width: 50%;
  height: 500px;
  background: #E91E63;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.Gallery__title {
  margin-bottom: 20px;
}

.box {
  border-radius: 16px;
  box-shadow: 0 2px 12px 16px rgba(0,0,0,0.15);
  background-color: #fff;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

.box h3 {
  flex: 0 0 100%;
}

.box button:nth-child(2) {
  margin-right: 16px;
}